<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
<h2>Wzorce projektowe</h2>
<p>
    {{pageDescription}}
</p>
<a href="/types/">Typy</a>
<a href="/patterns/">Wszystkie wzorce</a>

</body>
</html>