<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
<a href="/main/">Strona glowna</a>
<h2>{{patternName}}</h2>
<p>{{patternDescription}}</p>
</body>
</html>